aside > div.region {
  margin: 0 55px;
  width: 270px;
  background: rgba(155, 155, 155, 0.3);
  padding: 0;
  section > h2 {
    background-color: $color-primary;
    font-size: 21px;
    padding: 5px 14px;
    margin: 0 0 10px 0;
    color: black;
  }
  div.form-group
    > div.contextual-region
    > div.view-content
    > div.item-list
    > ul {
    list-style: none;
    line-height: 35px;
    li > div > div > a {
      color: gray;
    }
  }
}

/* Menu de alimentos y bebidas */
nav#block-alimentosybebidas {
  h2#block-alimentosybebidas-menu {
    color: black;
    background-color: $color-primary;
    font-size: 21px;
    padding: 5px 14px;
    margin: 0 0 10px 0;
  }
  ul.menu--food-and-drink > li {
    margin: 8px 25px;
    :hover {
      background-color: rgba(155, 155, 155, 0.3);
      color: black;
    }
    a {
      color: black;
    }
  }
}
/* Empresas Asociadas */
div.region-sidebar-first > section > div.form-group {
  padding: 0;
}

div.form-group > div.view-empresas-asociadas > div.view-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
  div.views-row {
    border: 2px solid rgba(156, 156, 156, 0.5);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
